.advantage {
  @extend .section;

  &_type {
    @media screen and (min-width: 480px) {
    }
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      gap:30px;
    }
    @media screen and (min-width: $desktop) {
      display: flex;
      gap: 30px;
    }
  }
  &_properties {
    
    @media screen and (min-width: $mobile) {
      width: 450px;
    }
    @media screen and (min-width: $tablet) {
      width: 354px;
    }
    @media screen and (min-width: $desktop) {
      width: 270px;
      align-items: center;
      justify-content: center;
    }
  }
  &_properties:not(:last-child){
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
      
    }
  }
}
