.benefits {
  margin-bottom: 30px;
  height: 120px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--fifth-color);

  @media screen and (min-width: $mobile) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media screen and (min-width: $desktop) {
  }

  &_title {
    color: var(--primary-text-color);
    font-weight: 700;
    line-height: 1.14;
    list-style: none;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;

    @media screen and (min-width: $mobile) {
      text-align: center;
    }
    @media screen and (min-width: $tablet) {
      text-align: start;
    }
  }

  &_text {
    color: var(--title-text-color);
    line-height: 1.71;
  }
}
