.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  outline: 2px solid red;
  outline-offset: -2px;

  //mobile screen
  @media screen and (min-width: $mobile) {
    width: $mobile;
  }
  //tablet screen
  @media screen and (min-width: $tablet) {
    width: $tablet;
  }
  //desktop
  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}
