:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --secundary-color: #2F303A;
    --thertiary-color: #EEEEEE;
    --fourth-color: #000000;
    --fifth-color: #F5F4FA;
    --sixth-color: #ECECEC;
    --seventh-color: #188CE8;
}